html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h1, h2 {
  font-size: 3.72rem;
  text-transform: uppercase;
}
h1, h2, .subtitle {
  color: #0567A1;
  margin: 0;
}
.subtitle {
  font-size: 2rem;
}

section header {
  margin: 4rem 0;
}

.wrap {
  max-width: 980px;
  margin: 0 auto;
}

